asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.4.9
dj-database-url==3.1.2
Django==6.0.8
gunicorn==26.0.0
idna==3.18
packaging==26.3
psycopg==3.3.4
python-dotenv==1.2.2
requests==2.34.2
setuptools==84.0.0
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
wheel==0.47.0
whitenoise==6.12.0
