{% extends "base.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h4>System Settings</h4>
        </div>

        <div class="card-body">

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    Save Settings
                </button>

            </form>

        </div>
    </div>
</div>

{% endblock %}
